# FnGuide 데이터 불러오기 튜토리얼

In [3]:
import sys

from pathlib import Path

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
import seaborn as sns

In [4]:
# 경로설정

CWD = Path.cwd()
WORKSPACE_PATH = CWD.parent
COMMON_PATH = WORKSPACE_PATH / 'common'
DATA_PATH = WORKSPACE_PATH / 'data'
FONT_PATH = COMMON_PATH / 'fonts' / 'NanumGothic.ttf'

In [5]:
font_prop = font_manager.FontProperties(fname=FONT_PATH)
rc('font', family=font_prop.get_name())

In [6]:
sys.path.append(str(COMMON_PATH))

In [11]:
import fn_loader as fn
import fn_config as fncfg

In [12]:
# loader 생성 (데이터 로드 + multi index로 전처리)
# use_alias=True 일 경우 긴 ETF명 대신 축약한 단어 사용
pricevolume1 = fn.FnDataLoader('DBGAPS2024_pricevolume.xlsx', use_alias=True)

In [13]:
# 자산이름 축약
fncfg.ASSET_ALIASES

{'KOSEF 단기자금': 'shortterm',
 'KOSEF 미국달러선물': 'usd',
 'KOSEF 미국달러선물인버스': 'usdinv',
 'KODEX 인버스': 'kodexinv',
 'TIGER 원유선물Enhanced(H)': 'oil',
 'KODEX 골드선물(H)': 'gold',
 'TIGER 단기선진하이일드(합성 H)': 'hybond',
 'KBSTAR 중기우량회사채': 'midbond',
 'KOSEF 국고채10년': '10y',
 'TIGER 차이나CSI300': 'csi300',
 'ACE 일본Nikkei225(H)': 'nikkei',
 'TIGER 유로스탁스50(합성 H)': 'euro50',
 'TIGER 미국S&P500선물(H)': 'sp500',
 'TIGER 코스닥150': 'kosdaq150',
 'KODEX 200': 'kodex200'}

In [14]:
# 데이터 필드명 축약
fncfg.ITEM_ALIASES

{'거래대금(원)': 'moneyvolume',
 '수익률(%)': 'return',
 '수정고가(원)': 'adjhigh',
 '수정시가(원)': 'adjopen',
 '수정저가(원)': 'adjlow',
 '수정주가(원)': 'adjclose'}

In [15]:
# 종목명 로드
pricevolume1.get_universe()

Index(['shortterm', 'usd', 'usdinv', 'kodexinv', 'oil', 'gold', 'hybond',
       'midbond', '10y', 'csi300', 'nikkei', 'euro50', 'sp500', 'kosdaq150',
       'kodex200'],
      dtype='object')

In [16]:
# 데이터필드 로드
pricevolume1.get_datafields()

Index(['return', 'adjopen', 'adjhigh', 'adjlow', 'adjclose', 'moneyvolume'], dtype='object')

In [18]:
# 원하는 데이터를 2d 형태로 로드 (default로 nan 제거)
return_df = pricevolume1.get_data('return') # 
return_df.head() # Nikkei225랑 코스닥150이 nan이라 원래 2015-01-01부턴데 2016-03-04부터 시작

,shortterm,usd,usdinv,kodexinv,oil,gold,hybond,midbond,10y,csi300,nikkei,euro50,sp500,kosdaq150,kodex200
Date,,,,,,,,,,,,,,,
2016-03-04,0.00,-0.96,0.92,-0.12,1.27,1.83,0.37,-0.20,-0.19,0.42,0.19,-0.46,0.43,0.28,0.02
2016-03-07,0.00,-0.36,0.19,-0.24,4.58,-0.21,0.37,0.17,0.00,0.48,-0.24,-0.05,0.06,-0.51,0.21
2016-03-08,-0.01,0.45,-0.43,0.79,0.93,0.67,0.05,0.00,0.29,-0.89,-0.48,-0.05,-0.11,0.09,-0.70
2016-03-09,0.02,0.97,-0.82,-0.42,-1.45,-1.07,-0.05,-0.14,-0.05,-0.35,-1.00,-0.57,-0.21,0.60,0.43
2016-03-10,-0.01,-1.08,1.12,-0.73,1.74,-0.46,-0.10,0.19,-0.10,0.21,1.16,0.10,0.17,0.55,0.92